<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/favicon.ico" />
    <title>Gestion IED</title>
  </head>
  <body>

<div class="top red" id="etat" style="display: none;">! Wifi déconnecté !</div>
<div class="alert" role="alert" id="alert"></div>
<div class="container" id="container">

<div class="line red">
  <button id="check-255" class="toggle" onclick="return selection_choice();">Tous</button>
  <span class="buttons">
    <img src="../static/wifi.png" width="45" onclick="return ping_selection();" style="margin-right: 10px;" />
    <img src="../static/bomb.png" width="45" onclick="return fire_selection();" />
  </span>
</div>

</div>

<script type="text/javascript">
  let nb_ied = {{nb_ied}};
</script>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/main.js"></script>

  </body>
</html>